include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
recursive-include pinin *.py
recursive-include pinin *.csv
recursive-include tests *.py
recursive-include examples *.py
exclude setup.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
